---
import {
  CALENDAR_END,
  CALENDAR_START,
  CONTENT_COLLECTION,
  DATE_FORMAT,
  TODAY,
} from "../consts";
import { getEntry, getCollection } from "astro:content";
import "../styles/global.css";
import dayjs from "dayjs";
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

export async function getStaticPaths() {
  return (await getCollection(CONTENT_COLLECTION)).map((entry) => ({
    params: {
      day: entry.id,
    },
  }));
}

const { day } = Astro.params;
const entry = await getEntry(CONTENT_COLLECTION, day);

const allDayImages = import.meta.glob<{ default: ImageMetadata }>(
  "/gdrive/*.jpg",
);
const thisDayImage = allDayImages[`/gdrive/${day}.jpg`];

const daysLeft = CALENDAR_END.diff(dayjs(day, DATE_FORMAT), "day");
const caseCount = CALENDAR_END.diff(CALENDAR_START, "day") - daysLeft;

const deployedAt = TODAY.format("YYYY-MM-DD HH:mm:ss");
const commitId = process.env.GITHUB_SHA ?? "???";

const subtitle = dayjs(day).isSame(CALENDAR_START, "day")
  ? "2026-os választási kalendárium: minden nap egy újabb Fidesz-botrány!"
  : `${daysLeft} nap a választásokig, ${caseCount}. ügy`;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>{entry?.data.title} - Visszaszámlálás 2026</title>
    <meta
      property="og:title"
      content={`${entry?.data.title} - Visszaszámlálás 2026`}
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content={`https://visszaszamlalas2026.github.io/${day}`}
    />
    <meta
      property="og:image"
      content={`https://visszaszamlalas2026.github.io/${day}/image.jpg`}
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:image"
      content={`https://visszaszamlalas2026.github.io/${day}/image.jpg`}
    />
    <meta property="og:description" content={subtitle} />
  </head>
  <body>
    <img src="/bg.jpg" id="background" />
    <div class="mx-auto w-full md:w-2xl px-4 mt-4">
      <a href="/">
        <h3 class="text-left">&laquo; Visszaszámlálás 2026</h3>
      </a>
      <h2 class="text-left">
        {subtitle}
      </h2>
      <h1 class="text-5xl my-8">{entry?.data.title}</h1>
      <Image
        class="w-full rounded-xl"
        src={thisDayImage()}
        alt={entry?.data.title}
        width="800"
        style={`background: url(/${day}/thumb.jpg); background-size: cover`}
      />
      <div class="content">
        {entry?.data.content.map((p: string) => <p>{p}</p>)}
      </div>
      <a href="/" class="goback"> &laquo; Vissza a naptárhoz </a>
    </div>
    <p class="footer">
      &copy; {TODAY.format("YYYY")} |
      <a
        href="https://github.com/visszaszamlalas2026/visszaszamlalas2026.github.io"
        >GitHub repo</a
      > (MIT)
      <!-- ^ wtf is this auto-formatting lol -->
      | <a href="https://ahang.hu/">aHang</a>
      <br />
      A szövegeket írta: <a
        href="https://www.facebook.com/toth.eniko.public"
        target="_blank">Tóth Enikő</a
      >
      <br />
      <br />
      <small class="font-mono">{commitId.substring(0, 8)} @ {deployedAt}</small>
    </p>
  </body>
</html>
