---
import { CONTENT_COLLECTION, DATA_DIR, IMAGE_EXT } from "../consts";
import { getEntry } from "astro:content";
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  return (await getCollection(CONTENT_COLLECTION)).map((entry) => ({
    params: {
      day: entry.id,
    },
  }));
}

const { day } = Astro.params;
const entry = await getEntry(CONTENT_COLLECTION, day);

const images = import.meta.glob<{ default: ImageMetadata }>("/gdrive/*.jpg"); // cant even use a FUCKING VARIABLE HERE, FUCKING BULLSHIT
const thisImage = images[`${DATA_DIR.slice(".".length)}/${day}${IMAGE_EXT}`]();
---

<h1>{day}</h1>

<p>{JSON.stringify(entry?.data.text)}</p>

<Image src={thisImage} alt="" width={100} />
